ollama/
llama.cpp/
bdwgc/
gc-8.2.8/
stb/
texpresso/
latex-advice/
ik_llama.cpp/
ggml/
examples/
models/
.venv/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.synctex.gz.sum.synctex
*.py
